.pan{
    background-color: rgb(0, 0, 0);

}
.status{
    padding-top: 1%;
    color: rgb(61, 61, 61);
    align-items: center;
}

.ema{
    width: 85% !important;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.hr{
    color: aliceblue;
    box-shadow: 0 -10px 10px orange;
    /* Es recomendable agregar estos estilos adicionales para que la sombra se vea mejor */
    border: none;
    height: 8px;
    margin: 0.1rem 0;

}

.cont{
    align-items: center;
    justify-content: center;
}

.emasTittle{
    color: rgb(148, 136, 123);
}

.activeTrades{
    width: 85% !important;
    background-color: rgb(0, 0, 0);
    text-align: center;
}