.panel{
    background-color: rgb(0, 0, 0);
}
.status{
    padding-top: 1%;
    color: rgb(83, 83, 83);
    align-items: center;
}

.ema{
    width: 85% !important;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.hr{
    color: aliceblue;
    box-shadow: 0px -10px 8px orange;
   
    border: none;
    height: 8px;
    margin: 1rem 0;

}

.cont{
    align-items: center;
    justify-content: center;
}

.emasTittle{
    color: rgb(148, 136, 123);
}

.activeTrades{
    width: 85% !important;
    background-color: rgb(0, 0, 0);
    text-align: center;
}