.pnl{
    min-height: 100vh
}

.closeTrades{
    width: 85% !important;
    background: transparent;
}
.cont{
    text-align: center;
    background: linear-gradient(to bottom, #000000, #1a1a1a, #0f1a2b);

}
.bot-tatus-container{
    background-color: #000000;
}

 @media screen and (max-width: 580px) {

    .closeTrades{
        width: 100% !important;

    }
}