.trades-container {
    background-color: #13101096;
    padding: 20px;
    color: white;
    width: 100%;
    margin: 0px auto 3vh auto;
    border-radius: 30px;
}

.trades-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.trades-scroll-container {
    max-height: 400px; 
    overflow-y: auto;

    /* scroll dark */
    scrollbar-width: thin;
    scrollbar-color: #333 #1a1a1a;

    padding-right: 10px;
}

/* ancho el scrollbar  */
.trades-scroll-container::-webkit-scrollbar {
    width: 8px;
}

.trades-scroll-container::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 4px;
}

.trades-scroll-container::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

.trades-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.trade-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 0;
    border-bottom: 2.5px solid #333;
}

.trade-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.trade-date {
    color: #999;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.trade-type {
    display: flex;
    gap: 15px;
    color: #999;
    font-size: 14px;
}

.trade-type .buy {
    color: #4caf50;
}

.trade-type .sell {
    color: #f44336;
}

.trade-price {
    font-size: 16px;
    text-align: right;
}

.btc-descrip{
    font-size: 14px;
    font-weight: bold;
    color: #e2b63d;
    margin-right: 10px;
}
.btc{
    color: #e2b63d;
}

.net-income{
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 5px; 
}

.net-income-span{
    margin-right: 37px;
}

.trade-price-span{
    margin-right: 15px;
}

@media screen and (max-width: 768px) {
    .trades-scroll-container {
        max-height: 350px; 
    }

    .trades-title {
        font-size: 20px;
    }

    .trade-item {
        flex-direction: column;
        gap: 10px;
    }

    .trade-info {
        width: 100%;
        align-items: flex-start;
    }

    .trade-type {
        flex-wrap: wrap;
        gap: 10px;
        width: 100%;
    }

    .trade-price {
        width: 100%;
        text-align: left;
        margin-top: 5px;
    }
    .net-income{
        display: flex;
        justify-content: flex-start; 
        align-items: center; 
        gap: 5px; 
    }
    .net-income-span{
        margin-right: 30px !important;
    }
    .trade-price-span{
        margin-right: 70px;
    }
}

@media screen and (max-width: 480px) {
    .trades-container {
        width: 100%;
        padding: 10px;
    }

    .trades-scroll-container {
        max-height: 300px; /*  pantallas + pequeñas */
    }

    .trades-title {
        font-size: 18px;
    }

    .trade-date,
    .trade-type,
    .trade-price {
        font-size: 13px;
    }

    .trade-item {
        padding: 12px 0;
    }
}
