/* Fondo negro total y sin rebote de scroll */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
  overscroll-behavior-y: contain; /* cambia de 'none' a 'contain' para permitir scroll interno si hay */
  overflow-x: hidden;
  overflow-y: auto;
}


/* Estilo base de texto y suavizado */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

/* Tipografía para elementos <code> */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
